@import "tailwindcss";

@theme {
  --color-primary-background: #ebfcf1;
  --color-secondary-background: #ffffff;

  --color-card: #ffffff;
  --color-card-foreground: #1a1a1a;

  --color-popover: #ffffff;
  --color-popover-foreground: #1a1a1a;

  --color-primary: #05612e;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f0f5f2;
  --color-secondary-foreground: #05612e;

  --color-muted: #e7efea;
  --color-muted-foreground: #737373;

  --color-accent: #05612e;
  --color-accent-foreground: #ffffff;

  --color-destructive: #ef4343;
  --color-destructive-foreground: #ffffff;

  --color-border: #dae7df;
  --color-input: #dae7df;
  --color-ring: #05612e;

  --color-success: #16a249;
  --color-success-foreground: #ffffff;

  --color-warning: #e7b008;
  --color-warning-foreground: #ffffff;

  --color-info: #0da2e7;
  --color-info-foreground: #ffffff;

  --radius: 0.75rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

*,
*::before,
*::after {
  border-color: var(--color-border);
}

html {
  scroll-behavior: smooth;
}

/* @theme .dark {
  --color-background: #0b0f0d;
  --color-foreground: #ededed;

  --color-card: #0f1512;
  --color-card-foreground: #ededed;

  --color-popover: #0f1512;
  --color-popover-foreground: #ededed;

  --color-secondary: #0e1a14;
  --color-secondary-foreground: #6be68c;

  --color-muted: #112018;
  --color-muted-foreground: #a3a3a3;

  --color-accent: #1bbe5a;
  --color-accent-foreground: #0b0f0d;

  --color-primary: #1bbe5a;
  --color-primary-foreground: #0b0f0d;

  --color-border: #1a2a22;
  --color-input: #1a2a22;
  --color-ring: #1bbe5a;
} */
